SHELL=/bin/sh
MAILTO=kerberos-admin@ncsa.uiuc.edu

*/1 * * * * /usr/sbin/ntpdate ntp.ncsa.illinois.edu > /dev/null 2>&1
*/1 * * * * /usr/services/identity/processqueue > /dev/null 2>&1
15 0-23 * * * /sbin/clock -w

#
# Roll the kerberos logs to AFS
0 0 * * * /usr/local/scripts/mv_krb5_log > /dev/null 2>&1
# Roll the syslogs to AFS
0 1 * * * /usr/local/scripts/mv_syslogs > /dev/null 2>&1

# UNCOMMENT BELOW

00,05,10,15,20,25,30,35,40,45,50,55 * * * * /var/kerberos/krb5kdc/propagate > /dev/null 2>&1

# Make daily backup of propagated database on local disk
03 04 * * * /usr/local/scripts/krb5_sm_backup.pl

# EXPIRE PASSWORDS
#0 1 * * * /usr/local/scripts/krb5_passwd_check > /tmp/krb5_passwd_check.err 2>&1

### KILL
#1 1 1 * * /afs/ncsa.uiuc.edu/packages/security/scripts/k5login_otp_audit.pl


50 0 * * * /var/kerberos/krb5kdc/mysql/insert.pl

### KILL
#45 * * * * /usr/local/scripts/wifireservations.pl > /dev/null 2>&1

#0 */4 * * * /root/checkiforge | mail -s "iforge-passreset" email@ncsa.illinois.edu
